<?xml version="1.0"?>
<configuration>
	<system.diagnostics>
		<trace autoflush="true"/>
		<sources>
			<source name="RegistrationForm" switchValue="All">
				<listeners>
					<add name="LogToEventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="PeriGen Patterns Registration">
						<filter type="System.Diagnostics.EventTypeFilter" initializeData="Information"/>
					</add>
				</listeners>
			</source>
			<source name="PatternsEngine" switchValue="All">
				<listeners>
					<add name="LogToEventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="PeriGen Patterns Engine">
						<filter type="System.Diagnostics.EventTypeFilter" initializeData="Information"/>
					</add>
				</listeners>
			</source>
		</sources>
	</system.diagnostics>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
	</startup>
</configuration>
