<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="config" value="..\PeriGen.Patterns.GE.Service.xml"/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<compilation debug="false" targetFramework="4.0">
		</compilation>
		<authentication mode="Windows"/>
		<roleManager defaultProvider="WindowsProvider" enabled="true" cacheRolesInCookie="false">
			<providers>
				<add name="WindowsProvider" type="System.Web.Security.WindowsTokenRoleProvider"/>
			</providers>
		</roleManager>
	</system.web>
</configuration>
