contraction_rate_stage1_threshold=5
contraction_rate_stage2_delay=30
contraction_rate_upper_limit=10
contraction_rate_window=10
display_baseline_variability=true
display_classification=false
display_events=true
display_mhr=false
display_wcr_tracing=true
enable_ADT=false
enable_montevideo=true
event_detection_purchased=true