<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:pg="http://schemas.perigen.com/wix/WixExtension">
  <Fragment>
    <Icon Id="cues.ico" SourceFile="$(var.SolutionDir)Patterns_Setup\cues.ico" />
    <ComponentGroup Id="CALM_ConnectionFiles">
      <Component Directory="INSTALLFOLDER">
        <File Source="!(bindpath.BIN)\LMSArchiving.dll" />
      </Component>
      <Component Directory="INSTALLFOLDER">
        <File Source="!(bindpath.BIN)\PeriAuthCommon.dll" />
      </Component>
      <Component Directory="INSTALLFOLDER">
        <File Source="!(bindpath.BIN)\PeriAuthServiceProxy.dll" />
      </Component>
      <Component Directory="CALMMetadataFolder">
        <File Source="!(bindpath.BIN)Config\CALMMetadata\Concepts.txt" />
      </Component>
      <Component Directory="CALMMetadataFolder">
        <File Source="!(bindpath.BIN)Config\CALMMetadata\ConceptXMLTags.txt" />
      </Component>
      <Component Directory="CALMMetadataFolder">
        <File Source="!(bindpath.BIN)Config\CALMMetadata\Groups.txt" />
      </Component>
      <Component Directory="CALMMetadataFolder">
        <File Source="!(bindpath.BIN)Config\CALMMetadata\Lists.txt" />
      </Component>
      <Component Directory="CALMMetadataFolder">
        <File Source="!(bindpath.BIN)Config\CALMMetadata\Strings.txt" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="CALM_ConnectionFiles_PatternsOnly">
      <Component Directory="INSTALLFOLDER">
        <File Source="!(bindpath.BIN)\CALMConnector.dll" />
      </Component>
      <Component Directory="INSTALLFOLDER">
        <File Source="!(bindpath.BIN)\LMSComm.dll" />
      </Component>
      <Component Directory="INSTALLFOLDER">
        <File Source="!(bindpath.BIN)\LMSFile.dll" />
      </Component>
      <Component Directory="INSTALLFOLDER">
        <File Source="!(bindpath.BIN)\LMSManagedModel.dll" />
      </Component>
      <Component Directory="INSTALLFOLDER">
        <File Source="!(bindpath.BIN)\LMSMessages.dll" />
      </Component>
      <Component Directory="INSTALLFOLDER">
        <File Source="!(bindpath.BIN)\LMSModel.dll" />
      </Component>
      <Component Directory="INSTALLFOLDER">
        <File Source="!(bindpath.BIN)\LMSPrinting.DLL" />
      </Component>
      <Component Directory="INSTALLFOLDER">
        <File Source="!(bindpath.BIN)\LMSSite.dll" />
      </Component>
      <Component Directory="INSTALLFOLDER">
        <File Source="!(bindpath.BIN)\LMSTickerTape.DLL" />
      </Component>
      <Component Directory="INSTALLFOLDER">
        <File Source="!(bindpath.BIN)\LMSUtils.dll" />
      </Component>
      <Component Directory="INSTALLFOLDER">
        <File Source="!(bindpath.BIN)\zlib1.dll" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ClientFiles">
      <Component Directory="INSTALLFOLDER" NeverOverwrite="yes">
        <RegistryValue Root="HKLM" Key="SOFTWARE\LMS Medical Systems\CALM" Name="Root" Type="string" Value="[INSTALLFOLDER]" Action="write"/>
      </Component>
      <Component Directory="INSTALLFOLDER" NeverOverwrite="yes">
        <RegistryValue Root="HKLM" Key="SOFTWARE\LMS Medical Systems\QueueLocation" Name="LMSPSBroker" Type="string" Value="[MMACHINENAME]" Action="write"/>
      </Component>

      <Component Directory="INSTALLFOLDER" Id="CheckList_Client_BedSide.psf">
        <Condition><![CDATA[IS_CENTRAL_STATION=0]]></Condition>
        <File Source="!(bindpath.BIN)\Config\CheckList_Client_BedSide.psf" Name="CheckList_Client.psf" Id="CheckList_Client_BedSide.psf">
          <pg:PSF MergeSource="[SourceDir]CheckList_Client_BedSide.psf">
            <pg:Setting Name="CRIPluginURL" Value="[MURLPATH]"/>
          </pg:PSF>
        </File>
      </Component>
      <Component Directory="INSTALLFOLDER" Id="CheckList_Client_Central.psf">
        <Condition><![CDATA[IS_CENTRAL_STATION=1]]></Condition>
        <File Source="!(bindpath.BIN)\Config\CheckList_Client_Central.psf" Name="CheckList_Client.psf" Id="CheckList_Client_Central.psf">
          <pg:PSF MergeSource="[SourceDir]CheckList_Client_Central.psf">
            <pg:Setting Name="CRIPluginURL" Value="[MURLPATH]"/>
          </pg:PSF>
        </File>
      </Component>

      <Component Directory="ResFolder">
        <File Source="!(bindpath.BIN)\res\CRI_ToolBar.ico" />
      </Component>
      <Component Directory="ResFolder">
        <File Source="!(bindpath.BIN)\res\CRI_ToolBar.rc2" />
      </Component>
      <Component Directory="ResFolder">
        <File Source="!(bindpath.BIN)\res\unknown-criteria-blue.png" />
      </Component>
      <Component Directory="ResFolder">
        <File Source="!(bindpath.BIN)\res\unknown-missing-ga_-blue.png" />
      </Component>
      <Component Directory="ResFolder">
        <File Source="!(bindpath.BIN)\res\unknown_time-blue.png" />
      </Component>
      <Component Directory="ResFolder">
        <File Source="!(bindpath.BIN)\res\negative-blue.png" />
      </Component>
      <Component Directory="ResFolder">
        <File Source="!(bindpath.BIN)\res\off_-blue.png" />
      </Component>
      <Component Directory="ResFolder">
        <File Source="!(bindpath.BIN)\res\positive-blue.png" />
      </Component>
      <Component Directory="ResFolder">
        <File Source="!(bindpath.BIN)\res\positive-past_-blue.png" />
      </Component>
      <Component Directory="INSTALLFOLDER">
        <File Source="!(bindpath.BIN)\CRIEntities.dll" />
      </Component>

      <Component Directory="INSTALLFOLDER">
        <File Source="!(bindpath.BIN)\CommonLogger.dll"/>
      </Component>
      <Component Directory="INSTALLFOLDER">
        <File Source="!(bindpath.BIN)\AboutBoxWrapper.dll"/>
      </Component>
      <Component Directory="HelpFolder">
        <File Source="!(bindpath.BIN)\Help\PeriCALM CheckList User Guide.pdf" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ClientFiles_PatternsOnly">
      <Component Directory="INSTALLFOLDER">
        <File Source="!(bindpath.BIN)\PatternsCRIClient.exe" />
        <File Source="!(bindpath.BIN)\PatternsCRIClient.exe.config" />
        <util:XmlConfig Id="configdir.1" Action="create" On="install"
                        File="[#PatternsCRIClient.exe.config]"
                        ElementPath="/configuration/appSettings"
                        VerifyPath="./add[\[]@key='configdir'[\]]"
                        Node="element" Name="add">
          <util:XmlConfig Id="configdir.2" ElementId="configdir.1"
                          File="[#PatternsCRIClient.exe.config]"
                          Name="key" Value="configdir"
                          Sequence="1"
                          />
        </util:XmlConfig>
        <util:XmlConfig Id="configdir.3" Action="create" On="install" Node="value"
                        File="[#PatternsCRIClient.exe.config]"
                        ElementPath="/configuration/appSettings/add[\[]@key='configdir'[\]]"
                        Name="value" Value="\\[MMACHINENAME]\Config"
                        Sequence="2"
                        />

        <util:XmlConfig Id="mode.1" Action="create" On="install"
                        File="[#PatternsCRIClient.exe.config]"
                        ElementPath="/configuration/appSettings"
                        VerifyPath="./add[\[]@key='mode'[\]]"
                        Node="element" Name="add">
          <util:XmlConfig Id="mode.2" ElementId="mode.1"
                          File="[#PatternsCRIClient.exe.config]"
                          Name="key" Value="mode"
                          Sequence="1"
                          />
        </util:XmlConfig>
        <util:XmlConfig Id="mode.3" Action="create" On="install" Node="value"
                        File="[#PatternsCRIClient.exe.config]"
                        ElementPath="/configuration/appSettings/add[\[]@key='mode'[\]]"
                        Name="value" Value="[MCLIENTMODE]"
                        Sequence="2"
                        />

        <util:XmlConfig Id="config.1" Action="create" On="install"
                        File="[#PatternsCRIClient.exe.config]"
                        ElementPath="/configuration/appSettings"
                        VerifyPath="./add[\[]@key='config'[\]]"
                        Node="element" Name="add">
          <util:XmlConfig Id="config.2" ElementId="config.1"
                          File="[#PatternsCRIClient.exe.config]"
                          Name="key" Value="config"
                          Sequence="1"
                          />
        </util:XmlConfig>
        <util:XmlConfig Id="config.3" Action="create" On="install" Node="value"
                        File="[#PatternsCRIClient.exe.config]"
                        ElementPath="/configuration/appSettings/add[\[]@key='config'[\]]"
                        Name="value" Value="CheckList_Client.psf"
                        Sequence="2"
                        />
      </Component>
      <!-- Shortcuts -->
      <Component Id="ClientShortcuts" Guid="{2356C6E4-FD5C-4E0C-AD0A-FE87D5A890F1}" Directory="DesktopFolder">
        <CreateFolder Directory="PmChecklistFolder" />
        <RemoveFolder Directory="PmChecklistFolder" On="uninstall" Id="PmChecklistFolder" />
        <RegistryValue Id="ClientShortcuts" Root="HKCU" Key="SOFTWARE\PeriGen\PeriCALM Patterns Plugins" Name="ClientShortcuts" Type="string" Value="1"/>
        <Shortcut Id="StartupFolderShrtct" Target="[#PatternsCRIClient.exe]" Name="PeriCALM CheckList" WorkingDirectory="INSTALLFOLDER" Directory="StartupFolder" Icon="cues.ico"/>
        <Shortcut Id="PmFolderShrtct" Target="[#PatternsCRIClient.exe]" Name="PeriCALM CheckList" WorkingDirectory="INSTALLFOLDER" Directory="PmChecklistFolder" Icon="cues.ico"/>
      </Component>
      <Component Directory="INSTALLFOLDER">
        <File Source="!(bindpath.BIN)\ToolBar.exe" />
      </Component>
    </ComponentGroup>

    <Property Id="CALMSERVICEENABLED" Value="FALSE"/>
    <SetProperty Id="CALMSERVICEENABLED" Value="TRUE" Sequence="execute" Before="PsfConfigSched"><![CDATA[BUNDLE_ARP_COMMENT~><"PeriCALM"]]></SetProperty>
    <Component Directory="INSTALLFOLDER">
      <File Source="!(bindpath.BIN)\PatternsPluginsService.psf">
        <pg:PSF MergeSource="[SourceDir]PatternsPluginsService.psf">
          <pg:Setting Name="CALMServicesEnabled" Value="[CALMSERVICEENABLED]"/>
        </pg:PSF>
      </File>
    </Component>

    <ComponentGroup Id="CommonFiles">
      <Component Directory="INSTALLFOLDER">
        <File Source="!(bindpath.BIN)\PatternsCALMMediator.dll" />
      </Component>
      <Component Directory="DBsFolder">
        <File Source="!(bindpath.BIN)\DBs\DailyNotificationReport.bat" />
      </Component>
      <Component Directory="DBsFolder">
        <File Source="!(bindpath.BIN)\DBs\DailyNotificationReport.sql" />
      </Component>
      <Component Directory="DBsFolder">
        <File Source="!(bindpath.BIN)\DBs\PersistenciesView.bat" />
      </Component>
      <Component Directory="DBsFolder">
        <File Source="!(bindpath.BIN)\DBs\PersistenciesView.sql" />
      </Component>
      <Component Directory="DBsFolder">
        <File Source="!(bindpath.BIN)\DBs\sqlite3.exe" />
      </Component>
      <Component Directory="INSTALLFOLDER">
        <File Source="!(bindpath.BIN)\EncDecSettings.dll" />
      </Component>
      <Component Directory="INSTALLFOLDER">
        <File Source="!(bindpath.BIN)\PatternsEntities.dll" />
      </Component>
      <Component Directory="INSTALLFOLDER">
        <File Source="!(bindpath.BIN)\PatternsPluginsCommon.dll" />
      </Component>
      <Component Directory="INSTALLFOLDER">
        <File Source="!(bindpath.BIN)\PeriGenSettingsManager.dll" />
      </Component>
      <Component Directory="INSTALLFOLDER">
        <File Source="!(bindpath.BIN)\PerigenSettingsTool.exe" />
      </Component>
      <Component Directory="INSTALLFOLDER">
        <File Source="!(bindpath.BIN)\RestSharp.dll" />
      </Component>
      <Component Directory="INSTALLFOLDER">
        <File Source="!(bindpath.BIN)\RestSharp.xml" />
      </Component>
      <!-- Shortcuts -->
      <Component Id="CommonShortcuts" Guid="{570666C8-65DF-4C8C-85D9-FEEC0F80858E}" Directory="DesktopFolder">
        <RegistryValue Id="CommonShortcuts" Root="HKCU" Key="SOFTWARE\PeriGen\PeriCALM Patterns Plugins" Name="CommonShortcuts" Type="string" Value="1"/>
        <Shortcut Id="PmSettingsShrtct" Target="[#PerigenSettingsTool.exe]" Name="PeriCALM CheckList Settings" WorkingDirectory="INSTALLFOLDER" Directory="PmChecklistFolder" Icon="cues.ico"/>
      </Component>
      <Component Directory="INSTALLFOLDER">
        <File Source="!(bindpath.BIN)\Perigen.Patterns.NnetControls.dll" />
      </Component>
      <Component Directory="INSTALLFOLDER">
        <File Source="!(bindpath.BIN)\PeriGen.Patterns.WPFLibrary.dll"/>
      </Component>
      <Component Directory="INSTALLFOLDER">
        <File Source="!(bindpath.BIN)\PresentationCore.dll"/>
      </Component>
      <Component Directory="INSTALLFOLDER">
        <File Source="!(bindpath.BIN)\PresentationFramework.dll"/>
      </Component>
      <Component Directory="INSTALLFOLDER">
        <File Source="!(bindpath.BIN)\PresentationFramework.Aero.dll"/>
      </Component>
      <Component Directory="INSTALLFOLDER">
        <File Source="!(bindpath.BIN)\Export.Entities.dll" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="CheckListPluginFiles">
      <Component Directory="INSTALLFOLDER">
        <File Source="!(bindpath.BIN)\CRIAlgorithm.dll" />
      </Component>
      <Component Directory="INSTALLFOLDER">
        <File Source="!(bindpath.BIN)\CRIPlugin.dll" />
      </Component>
      <Component Directory="INSTALLFOLDER">
        <File Source="!(bindpath.BIN)\CRIPluginDataModel.dll" />
      </Component>
      <ComponentRef Id="CRIEntities.dll"/>
      <Component Directory="INSTALLFOLDER">
        <File Source="!(bindpath.BIN)\PeriCALMPatternsCRIChart.CAB" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ExportPluginFiles">
      <Component Directory="INSTALLFOLDER">
        <File Source="!(bindpath.BIN)\ExportConfig.xml" />
      </Component>
      <Component Directory="INSTALLFOLDER">
        <File Source="!(bindpath.BIN)\Export.Algorithm.dll" />
      </Component>
      <Component Directory="INSTALLFOLDER">
        <File Source="!(bindpath.BIN)\AutoMapper.dll" />
      </Component>
      <Component Directory="INSTALLFOLDER">
        <File Source="!(bindpath.BIN)\MMSInterfaces.dll" />
      </Component>
      <!--<Component Directory="INSTALLFOLDER">
        <File Source="!(bindpath.BIN)\Export.CALMManager.dll" />
      </Component>-->
      <Component Directory="INSTALLFOLDER">
        <File Source="!(bindpath.BIN)\Export.Plugin.dll" />
      </Component>
      <Component Directory="INSTALLFOLDER">
        <File Source="!(bindpath.BIN)\Export.PluginDataModel.dll" />
      </Component>
      <ComponentRef Id="RestSharp.dll"/>
    </ComponentGroup>

  </Fragment>
</Wix>