<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="PeriGen.PeriCALM.PeriBirthInterface.Properties.Settings.PeribirthConnectionString"
		 connectionString="Data Source=MALAGA;Initial Catalog=Interfacedb;User ID=sa;Password=1908;" />
	</connectionStrings>
	<system.diagnostics>
		<trace autoflush="true"/>
		<sources>
			<source name="OfflineProcessor" switchValue="All">
				<listeners>
					<add name="LogToEventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="PeriGen Patterns Offline Detection">
						<filter type="System.Diagnostics.EventTypeFilter" initializeData="Information"/>
					</add>
				</listeners>
			</source>
			<source name="PatternsEngine" switchValue="All">
				<listeners>
					<add name="LogToEventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="PeriGen Patterns Engine">
						<filter type="System.Diagnostics.EventTypeFilter" initializeData="Information"/>
					</add>
				</listeners>
			</source>
		</sources>
	</system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
