<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="DataContextCatalogConnectionString" connectionString=""/>
	</connectionStrings>
	<appSettings>
		<add key="config" value="PeriGen.Patterns.GE.Service.xml"/>
	</appSettings>
	<system.diagnostics>
		<trace autoflush="true"/>
		<sources>
			<source name="PatternsInterface" switchValue="All">
				<listeners>
					<add name="LogToEventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="PeriGen Patterns Interface">
						<filter type="System.Diagnostics.EventTypeFilter" initializeData="Information"/>
					</add>
				</listeners>
			</source>
		</sources>
	</system.diagnostics>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
