<?xml version="1.0"?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="PeriGen.Patterns.PatternsDataFeed">
				<endpoint address="" binding="webHttpBinding" contract="PeriGen.Patterns.ActiveXInterface.IPatternsDataFeed" behaviorConfiguration="endPointBehavior"/>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:7801/XPatternsDataFeed/"/>
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<endpointBehaviors>
				<behavior name="endPointBehavior">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>
	<system.diagnostics>
		<trace autoflush="true"/>
		<sources>
			<source name="TestActiveX" switchValue="All">
				<listeners>
					<add name="LogToEventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="PeriGen Patterns TestActiveX">
						<filter type="System.Diagnostics.EventTypeFilter" initializeData="Information"/>
					</add>
				</listeners>
			</source>
		</sources>
	</system.diagnostics>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
	</startup>
</configuration>
