<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="config" value="PatternsAddOnSettings.psf"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="PatternsProcessor" switchValue="All">
        <listeners>
          <add name="LogToEventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="PeriGen Patterns Processor">
            <filter type="System.Diagnostics.EventTypeFilter" initializeData="Information"/>
          </add>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
