<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="6.2.0" targetFramework="net452" />
  <package id="CommonLogger" version="1.0.0.4" targetFramework="net452" />
  <package id="MMSInterfaces" version="1.0.0.46" targetFramework="net452" />
  <package id="PerigenSettingsTool" version="1.1.0.273" targetFramework="net452" />
</packages>