<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:panelsw="http://schemas.panel-sw.co.il/wix/WixExtension"
     >
	<Product Id="*" 
           Name="!(wix.PatternsProduct) Prereq"
           Manufacturer="!(wix.PeriGen)"
           Version="!(wix.PatternsVersion)"
           Language="1033"
           UpgradeCode="fb38514e-b97d-446b-bd7f-0db706198856">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="PatternsPrerequisites" Level="1">
      <ComponentRef Id="PatternsPluginsService.exe.RemoveOld"/>
		</Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="PeriGenFolder" Name="PeriGen">
          <Directory Id="INSTALLFOLDER" Name="PeriCALM Patterns"/>
        </Directory>
      </Directory>
    </Directory>

    <InstallExecuteSequence>
      <RegisterProduct Suppress="yes"/>
      <PublishFeatures Suppress="yes"/>
      <PublishProduct Suppress="yes"/>
      <RegisterUser Suppress="yes"/>
    </InstallExecuteSequence>

    <!-- Remove old service with InstallUtil -->
    <Upgrade Id="{CD491F88-5939-4021-80F3-9327BAA3C6BF}">
      <UpgradeVersion Minimum="01.02.00" Maximum="01.02.02" OnlyDetect="yes" Property="LEGACY_PLUGINS"/>
    </Upgrade>
    <Property Id="LEGACY_PATTERNSPLUGINSSERVICE">
      <RegistrySearch Id="LEGACY_INSTALL_DIR.reg" Root="HKLM" Win64="no" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\[LEGACY_PLUGINS]" Name="InstallLocation" Type="directory">
        <DirectorySearch Id="LEGACY_INSTALL_DIR.dir">
          <FileSearch  Name="PatternsPluginsService.exe"/>
        </DirectorySearch>
      </RegistrySearch>
    </Property>
    <PropertyRef Id="NETFRAMEWORK40FULLINSTALLROOTDIR"/>
    <Component Id="PatternsPluginsService.exe.RemoveOld" Guid="" Directory="INSTALLFOLDER">
      <Condition><![CDATA[NETFRAMEWORK40FULLINSTALLROOTDIR And LEGACY_PLUGINS And LEGACY_PATTERNSPLUGINSSERVICE]]></Condition>
      <CreateFolder/>
      <panelsw:ExecOn Id="PatternsPluginsService.exe.RemoveOld" AfterStopServices="yes" Impersonate="no" OnInstall="yes" IgnoreExitCode="yes"
                      Command='"[NETFRAMEWORK40FULLINSTALLROOTDIR]InstallUtil.exe" /u "[LEGACY_PATTERNSPLUGINSSERVICE]"'/>
      
      <!-- Ensure service is removed -->
      <ServiceControl Id="CALM_Patterns_Plugins_Service" Name="CALM_Patterns_Plugins_Service" Remove="install" Stop="install" />
      <ServiceControl Id="PatternsPluginsService" Name="PatternsPluginsService" Remove="install" Stop="install" />
    </Component>
  </Product>
</Wix>
