<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <add key="CertificateHash" value="Certificate Hash Must Be Typed Here"/>
    <add key="ServerDataURL" value="http://localhost:7200/PeriGenReader/"/>
    <add key="config" value="PeriGen.PeriCALM.OutboundDataInterface.Settings.psf"/>
  </appSettings>  
</configuration>
