<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="config" value="PatternsPluginsService.psf"/>
    <add key="CRIPlugin" value="CRIPlugin.dll;CRIPlugin.CRIPluginTask"/>
    <add key="ExportPlugin" value="Export.Plugin.dll;Export.Plugin.PluginTask"/>
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <system.serviceModel>
    <services>
      <service name="PatternsPluginsManager.PluginsDataFeedService">
        <endpoint binding="webHttpBinding" contract="PatternsPluginsManager.IPluginsDataFeed"/>
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" maxBytesPerRead="2147483647"/>
          <!--<security mode="Transport">
            <transport clientCredentialType="Certificate"></transport>
          </security>-->
        </binding>
      </webHttpBinding>
    </bindings>
    <protocolMapping>
      <add scheme="http" binding="webHttpBinding"/>
    </protocolMapping>
  </system.serviceModel>
</configuration>
