contraction_rate_stage1_threshold = 15
contraction_rate_stage2_delay = 40
contraction_rate_upper_limit = 30
contraction_rate_window = 30
display_baseline_variability = true
display_classification = true
display_events = true
display_mhr = false
display_wcr_tracing = true
enable_ADT = false
enable_montevideo = true
event_detection_purchased = true