<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5.1" />
      <httpRuntime targetFramework="4.5.1" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="WCFServiceHostNetTcpEndPoint" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8080/SalesDataSvc" binding="netTcpBinding"
                bindingConfiguration="WCFServiceHostNetTcpEndPoint" contract="SalesSrvRef.ISalesDataSrv"
                name="WCFServiceHostNetTcpEndPoint">
                <identity>
                    <servicePrincipalName value="host/Arkroop-PC" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
