<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="DataContextCatalogConnectionString" connectionString=""/>
		<add name="DataContextEpisodeConnectionString" connectionString=""/>
		<add name="ArchiveContextCatalogConnectionString" connectionString=""/>
	</connectionStrings>
	<appSettings>
		<add key="config" value="PeriGen.Patterns.Service.psf"/>
	</appSettings>
	<system.diagnostics>
		<trace autoflush="true"/>
		<sources>
			<source name="PeriGenPatternsService" switchValue="All">
				<listeners>
					<add name="LogToEventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="PeriGen Patterns Service">
						<filter type="System.Diagnostics.EventTypeFilter" initializeData="Information"/>
					</add>
					<add name="LogToFile"/>
				</listeners>
			</source>
			<source name="PatternsService" switchValue="All">
				<listeners>
					<add name="LogToEventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="PeriGen Patterns Service">
						<filter type="System.Diagnostics.EventTypeFilter" initializeData="Information"/>
					</add>
					<add name="LogToFile"/>
				</listeners>
			</source>
			<source name="PatternsEngine" switchValue="All">
				<listeners>
					<add name="LogToEventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="PeriGen Patterns Engine">
						<filter type="System.Diagnostics.EventTypeFilter" initializeData="Information"/>
					</add>
					<add name="LogToFile"/>
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add name="LogToFile" type="PeriGen.Patterns.Diagnostics.ExtendedXmlWriterTraceListener, PeriGen.Patterns.Diagnostics" initializeData="Logs\PeriGen.Patterns.Service.svclog" MaximumFileSize="52428800" MaximumFileCount="10"/>
		</sharedListeners>
	</system.diagnostics>
	<system.net>
		<settings>
			<httpWebRequest useUnsafeHeaderParsing="true"/>
		</settings>
	</system.net>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
