<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="config" value="D:\patternsVS2017\Oleg Patterns\Debug\PeriGen.Patterns.Service.psf" />
  </appSettings>
  <connectionStrings/>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="false" targetFramework="4.5.2"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <fileExtensions>
          <add fileExtension=".application" allowed="true"/>
          <add fileExtension=".manifest" allowed="true"/>
          <add fileExtension=".deploy" allowed="true"/>
          <add fileExtension=".pdf" allowed="true"/>
          <add fileExtension=".png" allowed="true"/>
          <add fileExtension=".jpg" allowed="true"/>
        </fileExtensions>
      </requestFiltering>
    </security>
    <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate"/>
  </system.webServer>
</configuration>