<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TestPatternsControlApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TestPatternsControlApp.Properties.Settings>
            <setting name="user_name" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="user_id" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="permission" serializeAs="String">
                <value>fullaccess</value>
            </setting>
            <setting name="URL" serializeAs="String">
                <value>http://localhost:7803/PluginsDataFeed/</value>
            </setting>
            <setting name="export" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="patient" serializeAs="String">
                <value>1-11-1-1</value>
            </setting>
        </TestPatternsControlApp.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
