<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="ServerManager.WCFTestService">
        <endpoint binding="netTcpBinding" bindingConfiguration="netTcpPerigen"
          contract="Interfaces.ITestInterface">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:7103/WCFTestService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpPerigen" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647"
	  maxArrayLength="2147483647"
            maxBytesPerRead="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
            <message clientCredentialType="None"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceCredentials>
            <serviceCertificate storeName="TrustedPeople" storeLocation="LocalMachine" x509FindType="FindBySubjectName" findValue="OlegServer"/>
            <clientCertificate>
              <authentication certificateValidationMode="ChainTrust"/>
              <certificate x509FindType="FindBySubjectName" findValue="OlegClient" storeLocation="LocalMachine" storeName="TrustedPeople"/>
            </clientCertificate>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="CustomBehavior">
          <clientCredentials>
            <clientCertificate storeLocation="LocalMachine" storeName="TrustedPeople" findValue="OlegClient" x509FindType="FindBySubjectDistinguishedName" />
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>