<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     >
  <Bundle Name="!(wix.PatternsProduct)"
          Version="!(wix.PatternsVersion)"
          Manufacturer="!(wix.PeriGen)"
          UpgradeCode="dd2f0956-79d8-4d82-9c79-fc7e5498696e"
          IconSourceFile="cues.ico"
          >

    <BootstrapperApplicationRef Id="ManagedBootstrapperApplicationHost">
      <Payload Compressed="yes" Name="BootstrapperCore.config" SourceFile="$(var.PatternsBA.ProjectDir)BootstrapperCore.config"/>
      <Payload Compressed="yes" SourceFile="$(var.PatternsBA.TargetPath)"/>
      <Payload Compressed="yes" SourceFile="$(var.PatternsBA.TargetDir)\PanelSW.Installer.JetBA.dll"/>
      <Payload Compressed="yes" SourceFile="$(var.PatternsBA.TargetDir)\Ninject.dll"/>
      <Payload Compressed="yes" SourceFile="$(var.PatternsBA.TargetDir)\Ninject.Extensions.Factory.dll"/>
      <Payload Compressed="yes" SourceFile="$(var.PatternsBA.TargetDir)\Castle.Core.dll"/>
      <Payload Compressed="yes" SourceFile="$(var.PatternsBA.TargetDir)\Portable.Licensing.dll"/>
      <Payload Compressed="yes" SourceFile="$(var.PatternsBA.TargetDir)\Kent.Boogaart.Converters.dll"/>
      <Payload Compressed="yes" SourceFile="$(var.PatternsBA.TargetDir)\Kent.Boogaart.HelperTrinity.dll"/>
      <Payload Compressed="yes" Name="PanelSW.Installer.JetBA.dll.lic" SourceFile="JetBA-License.lic"/>
    </BootstrapperApplicationRef>

    <Variable Name="InstallFolder" Value="[ProgramFilesFolder]PeriGen\!(wix.PatternsProductBaseName)\" bal:Overridable="yes"/>
    <Variable Name="InstallChecklistPlugin" Value="1" Type="numeric" Persisted="yes" bal:Overridable="yes"/>
    <Variable Name="InstallCentralStationClient" Value="0" Type="numeric" Persisted="yes" bal:Overridable="yes"/>
    <Variable Name="InstallExportPlugin" Value="1" Type="numeric" Persisted="yes" bal:Overridable="yes"/>

    <!-- Set BaLaunchDebugger variable to 1 to attach debugger -->
    <?if $(var.Configuration)=Debug?>
    <Variable Name="BaLaunchDebugger" Value="1" Type="numeric"/>
    <?endif?>

    <Chain DisableSystemRestore="yes" ParallelCache="yes">
      <PackageGroupRef Id="PeriGenNetFx452Redist"/>

      <MsiPackage SourceFile="$(var.PatternsPrerequisites.TargetPath)"/>

      <MsiPackage SourceFile="$(var.PatternsMsi.TargetPath)" EnableFeatureSelection="yes">
        <MsiProperty Name="BUNDLE_PRODUCT_CODE" Value="[BUNDLE_PRODUCT_CODE]"/>
        <MsiProperty Name="BUNDLE_ARP_COMMENT" Value="!(wix.PatternsComments)"/>

        <MsiProperty Name="INSTALLFOLDER" Value="[InstallFolder]"/>
        <MsiProperty Name="INSTALL_CHECKLIST_PLUGIN" Value="[InstallChecklistPlugin]"/>
        <MsiProperty Name="INSTALL_EXPORT_PLUGIN" Value="[InstallExportPlugin]"/>

        <!-- PSF file- used for merging on upgrades -->
        <Payload SourceFile="!(bindpath.BIN)\PeriGen.Patterns.Service.psf"/>
      </MsiPackage>

      <MsiPackage SourceFile="$(var.PluginsMsi.TargetPath)" EnableFeatureSelection="yes">
        <MsiProperty Name="INSTALLFOLDER" Value="[InstallFolder]"/>
        <MsiProperty Name="BUNDLE_ARP_COMMENT" Value="!(wix.PatternsComments)"/>
        <MsiProperty Name="IS_CENTRAL_STATION" Value="[InstallCentralStationClient]"/>

        <Payload SourceFile="!(bindpath.BIN)\PatternsPluginsService.psf"/>
        <Payload SourceFile="!(bindpath.BIN)\Config\CheckList_Client_BedSide.psf"/>
        <Payload SourceFile="!(bindpath.BIN)\Config\CheckList_Client_Central.psf"/>

        <!-- DB.Export binaries and scripts -->
        <Payload SourceFile="!(bindpath.SRC)\Patterns\Plugins\Export\DBUpdate.Export\bin\Release\DBUpdate.Export.exe"/>
        <Payload SourceFile="!(bindpath.SRC)\Patterns\Plugins\Export\DBUpdate.Export\bin\Release\DBUpdate.Export.exe.config"/>
        <Payload SourceFile="!(bindpath.SRC)\Patterns\Plugins\Export\DBUpdate.Export\bin\Release\DBUpdate.SQLite.dll"/>
        <Payload SourceFile="!(bindpath.SRC)\Patterns\Plugins\Export\DBUpdate.Export\bin\Release\EntityFramework.dll" />
        <Payload SourceFile="!(bindpath.SRC)\Patterns\Plugins\Export\DBUpdate.Export\bin\Release\EntityFramework.xml" />
        <Payload SourceFile="!(bindpath.SRC)\Patterns\Plugins\Export\DBUpdate.Export\bin\Release\EntityFramework.SqlServer.dll" />
        <Payload SourceFile="!(bindpath.SRC)\Patterns\Plugins\Export\DBUpdate.Export\bin\Release\EntityFramework.SqlServer.xml" />
        <Payload SourceFile="!(bindpath.SRC)\Patterns\Plugins\Export\DBUpdate.Export\bin\Release\PeriGenLogger4.0.dll"/>
        <Payload SourceFile="!(bindpath.SRC)\Patterns\Plugins\Export\DBUpdate.Export\bin\Release\System.Data.SQLite.dll" />
        <Payload SourceFile="!(bindpath.SRC)\Patterns\Plugins\Export\DBUpdate.Export\bin\Release\System.Data.SQLite.EF6.dll" />
        <Payload SourceFile="!(bindpath.SRC)\Patterns\Plugins\Export\DBUpdate.Export\bin\Release\System.Data.SQLite.Linq.dll" />
        <Payload SourceFile="!(bindpath.SRC)\Patterns\Plugins\Export\DBUpdate.Export\bin\Release\System.Data.SQLite.xml" />
        <Payload SourceFile="!(bindpath.SRC)\Patterns\Plugins\Export\DBUpdate.Export\bin\Release\System.Net.Http.dll" />
        <Payload SourceFile="!(bindpath.SRC)\Patterns\Plugins\Export\DBUpdate.Export\bin\Release\System.Net.Http.xml" />
        <Payload SourceFile="!(bindpath.SRC)\Patterns\Plugins\Export\DBUpdate.Export\bin\Release\x64\SQLite.Interop.dll" Name="x64\SQLite.Interop.dll" />
        <Payload SourceFile="!(bindpath.SRC)\Patterns\Plugins\Export\DBUpdate.Export\bin\Release\x86\SQLite.Interop.dll" Name="x86\SQLite.Interop.dll" />
        <PayloadGroupRef Id="DBUpdate_Export_Scripts"/>
      </MsiPackage>
    </Chain>
  </Bundle>
</Wix>