<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appSettings>
    <add key="config" value="D:\Develop\TFS\Patterns\Private\OlegU Main Patterns 02.06\Debug\PeriGen.Patterns.Service.psf" /> 
	</appSettings>
	<connectionStrings />
	<system.web>
    <compilation debug="false" targetFramework="4.0" />
	</system.web>
	<system.webServer>
		<security>
			<requestFiltering>
				<fileExtensions>
					<add fileExtension=".application" allowed="true" />
					<add fileExtension=".manifest" allowed="true" />
					<add fileExtension=".deploy" allowed="true" />
					<add fileExtension=".pdf" allowed="true" />
					<add fileExtension=".png" allowed="true" />
					<add fileExtension=".jpg" allowed="true" />
				</fileExtensions>
			</requestFiltering>
		</security>
        <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
	</system.webServer>
</configuration>
