<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Patterns 02.04.00" value="d:\Develop\TestProjects\BuildRunner\Batch\1\Build.exe"/>
    <add key="Patterns 02.06.00" value="d:\Develop\TestProjects\BuildRunner\Batch\2\2.bat"/>
    <add key="Patterns 02.08.00" value="d:\Develop\TestProjects\BuildRunner\Batch\3\3.bat"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
