<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension">
	<Fragment>
    <ComponentGroup Id="IIS">
      <Component Id="PatternsAppPool" Directory="INSTALLFOLDER" Guid="{F8FCB8D7-EDF8-4C8F-BFE9-01ADE902AD03}">
        <CreateFolder />
        <iis:WebAppPool Id="PeriGenPatternsApplicationPool" Name="PeriGenPatternsApplicationPool" Identity="localSystem" ManagedRuntimeVersion="v4.0" ManagedPipelineMode="Integrated"/>
        <iis:WebSite Id="PeriGenPatternsWeb" Directory="WebsiteDir" AutoStart="yes" StartOnInstall="yes" Description="PeriGen Patterns" ConfigureIfExists="no">
          <iis:WebAddress Id="PeriGenPatternsWeb" Port="91"/>
          <iis:WebDirProperties Id="PeriGenPatternsWeb" AnonymousAccess="yes" WindowsAuthentication="yes" Read="yes" Script="yes" DefaultDocuments="default.html" />
          <iis:WebApplication Id="PeriGenPatternsWeb" WebAppPool="PeriGenPatternsApplicationPool" Name="PeriGen Patterns" />
        </iis:WebSite>
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>
